@font-face {
  font-family: 'Circe';
  src: url('~@/assets/fonts/CirceRegular.woff') format('woff'),
  url('~@/assets/fonts/CirceRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('~@/assets/fonts/CirceBold.woff') format('woff'),
  url('~@/assets/fonts/CirceBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSansRegular.woff') format('woff'),
  url('~@/assets/fonts/OpenSansRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}